# Dependencies
node_modules/

# Build output
dist/

# Logs
*.log
frontend.log
vite.log

# Local / dev files
*.local
.env
.env.*

# SQLite DB files
*.db
*.sqlite

# OS files
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
