listening-port=3478
fingerprint
lt-cred-mech
use-auth-secret
static-auth-secret=${TURN_SECRET}
realm=turn.zed
total-quota=200
min-port=49152
max-port=65535
no-udp
no-dtls
no-tls
log-file=/tmp/coturn.log
verbose
